@import url('https://fonts.api.axchen.top/TimesNewRoman/index.css');
@import url('https://fonts.api.axchen.top/SF-Mono/index.css');
@import url('https://fonts.api.axchen.top/TCSongti/index.css');

:root {
  --font-title: 'TimesNewRoman';
  --font-mono: 'SF-Mono';
  --font-cjk: 'TCSongti';
}
